[Unit]
Description=petclinic
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
User=core
EnvironmentFile=/etc/environment
TimeoutStartSec=30m

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull wouterla/docker-petclinic:latest

ExecStart=/bin/sh -c "\
    /usr/bin/docker run \
          -p 8080 \
          --name %p-%i wouterla/docker-petclinic:latest"

ExecStop=/usr/bin/docker stop %p-%i

#[X-Fleet]
#Conflicts=petclinic@*.service
